@media screen and (max-width: 1246px) {
    .menuTopEntryNum > p {
        top: -42%;
        right: -5%;
        font-size: 13rem;
    }
}

@media screen and (max-width: 1185px) {
    .menuMiddle {
        font-size: 1.7rem
    }
}

@media screen and (max-width: 1170px) {
    .menuTopEntryNum > p {
        top: -36%;
        right: -5%;
        font-size: 12rem;
    }
}

@media screen and (max-width: 1170px) {
    .menuTopEntryNum > p {
        top: -30%;
        right: -5%;
        font-size: 11rem;
    }
    .generalAverage {
        font-size: 8rem;
    }
    .category > * {
        font-size: 1.7rem;
    }
    .entry > p, .assignmentGrade > p {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1110px) {
    .gradeInput {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 1033px) {
    .update > button {
        font-size: 1.8rem;
    }
    .menuMiddle {
        font-size: 1.5rem;
    }
    .generalAverage {
        font-size: 7.7rem;
    }
    .menuTopEntryNum > p {
        top: -27%;
        right: -5%;
        font-size: 10.5rem;
    }
    .userPin {
        font-size: 5.4rem;
    }    
    .menuTopEntry > p:first-child {
        font-size: 4.5rem;
    }
    .gradeInput {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 964px) {
    .menuTopEntryNum > p {
        top: -24%;
        right: -8%;
        font-size: 10rem;
    }
    .menuTopEntry > p:first-child {
        font-size: 4rem;
    }
    .generalAverage {
        font-size: 7rem;
    }
    .assignmentGradeLetter {
        font-size: 1.5rem;
        left: 50%;
    }
    .userPin {
        font-size: 5rem;
    }
}

@media screen and (max-width: 964px) {
    .menuTopEntry > p:first-child {
        font-size: 3.5rem;
    }
    .update > button {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 931px) {
    .menuMiddle {
        text-align: center;
    }
    .menuTopEntryNum > p {
        top: -24%;
        right: -15%;
        font-size: 10rem;
    }
}


@media screen and (max-width: 895px) {
    .menuTopEntryNum > p {
        top: -16%;
        right: -14%;
        font-size: 9rem;
    }
    .generalFirstName {
        font-size: 6rem;
    }
}

@media screen and (max-width: 886px) {

}