/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

button, input {
    border: none;
    outline: none;
    font-family: inherit;
    text-align: center;
}

/* general styling end */

body {
    background-color: rgb(244, 76, 76);
    height: 78rem;
    width: 97%;
}

body > *:not(:last-child) {
    margin-bottom: 2rem;
}

/* header */
/* //////////////////////////////////////// */
header {
    width: 100%;
    height: 9rem;
    background-color: blueviolet;
    display: flex;
}

/* .logo, .jadeLogoContainer, form */
header > * {
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
/* ---------logo-------- */
.logo {
    width: 30%;
}

logo > img {
    width: 40%;
}

.aida {
    width: 60%;
}
/* ------------------------ */

.jadeLogoContainer {
    width: 30%;
}

/* -----------form----------- */
form {
    width: 40%;
    height: 100%;
    background-color: aqua;
    justify-content: center;
    gap: 1rem;
}

form > * {
    height: 30%;
}

input[class="userName"], input[class="pin"] {
    width: 35%;
}

.submit {
    width: 20%;
}
/* ---------------- */
/* ////////////////////////////////////////// */
/* end header */


/* aside */
aside {
    height: 5rem;
    background-color: rgb(17, 220, 20);
}
/* end aside */


/* main */
main {
    height: 61rem;
    background-color: rgb(45, 209, 154);
}
/* end main */