* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

body {
    background-color: rgb(244, 76, 76);
    height: 78rem;
    width: 97%;
}

header {
    width: 100%;
    height: 9rem;
    background-color: blueviolet;
}