* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(169, 169, 169);
}

button, input {
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

input::placeholder{
    opacity: 70%;
}

.headerContainer, main{
    max-width: 130rem;
    margin: 0 auto;
}

.headerContainer, .mainContainer, .aside, .studentInfo {
    padding: 0 2rem;
    border-radius: 20px;
}

aside {
    padding-right: 2rem
}

.headerContainer {
    background-color: rgb(42,109,68);
}


.headerContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem 0;
}

.aida {
    max-height: 100%;
    width: auto;
}

.jadeLogo {
    max-height: 80%;
    width: auto;
}

.logoText {
    font-size: 5rem;
    color: white;
    margin-left: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

svg {
    color: white;
}

svg:hover {
    color: rgb(247,203,69);
}

svg:active {
    color: black;
}

.login, .password {
    border-radius: 30px;
    height: 4rem;
    font-size: 2rem;
    width: 15rem;
}

/* start of mainContainer */
main {
    display: flex;
    margin-top: 3rem;
    height: 67rem;
}

.mainContainer {
    background-color: white;
    display: flex; 
    margin-right: 2rem;
}

.student {
    width: 15%;
}

.mainContainer {
    width: 60%;
}

.aside {
    width: 25%;
}

.allStudents {
    height: 100%;
    overflow-y: scroll;
}

.studentInfo {
    background-color: white;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    background-color: rgb(42,109,68);
    color: white;
}

.studentFirstName {
    font-size: 3rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.361);
}

.studentLastName {
    font-size: 1.5rem;
    height: 100%;
}

.studentInfoAverage {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    z-index: -1;
    color: rgb(0, 0, 0);
    opacity: 40%;
}

.studentInfo:hover {
    background-color: rgb(92, 179, 255);

}

.studentInfo:focus {
    background-color: rgba(0, 0, 0, 0.137);
}

aside {
    width: 30%;
    background-color: rgb(255, 255, 255);
}

.mainInterface {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topStudentFirstName {
    font-size: 7rem;
}

.topStudentLastName {
    margin-top: -2.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.studentAverage {
    font-size: 8rem;
}